<nav>
  <marquee behavior="" direction="">
     
      <a href="index.html"><span >About Me</span></a>
      <a href="myskills.html"><span >Skills</span></a>
      <a href="contactme.html"><span >Contact Me</span> </a>   
      <a href="https://www.facebook.com" target="_blank"><span><img src="fb.png" alt="facebook"/></span></a>
      <a href="https://github.com/prabhuselva97" target="_blank"><span><img src="github.png" alt="Github"/></span></a>
      <a href="https://www.twitter.com" target="_blank"><span><img src="twitter.jpg" alt="Twitter"/></span></a>

  </marquee>  
</nav>   